.section
    .section-title Formation
    .separator
    .subsection
        .subsection-date 2009 - 2012 / Angers
        .subsection-title ESEO - Grande école d'ingénieurs généraliste en informatique, électronique, réseaux et télécoms.
        .subsection-description Option Systèmes d'Information
    .subsection
        .subsection-date 2007 - 2009 / Angers
        .subsection-title CPGE Maths Sup / Maths Spé - MPSI / MP
        .subsection-description Lycée Henri Bergson