#header
    #picture
    #info
        #name Jimmy Robert
        #job-description Concepteur et développeur d'applications mobiles et web
        #table
            .table-row
                .table-cell
                    .icon: img(src='svg/location.svg')
                    .detail
                        .title Résidence
                        .value Toulouse
                .table-cell
                    .icon: img(src='svg/event.svg')
                    .detail
                        .title Date de naissance
                        .value 5 avr. 1989 - 28 ans
                .table-cell
                    .icon: img(src='svg/flag.svg')
                    .detail
                        .title Nationalité
                        .value Française
            .table-row
                .table-cell
                    .icon: img(src='svg/email.svg')
                    .detail
                        .title Adresse email
                        .value jimmy@robz.re
                .table-cell
                    .icon: img(src='svg/phone.svg')
                    .detail
                        .title Numéro de téléphone
                        .value 06 83 47 39 24
                .table-cell
                    .icon: img(src='svg/work.svg')
                    .detail
                        .title Expérience
                        .value 5 ans
