.section
    .section-title Expériences personnelles
    .separator
    .sites
        .site
            .site-icon: img(src="svg/github.svg")
            .site-detail
                .site-name GitHub
                .site-url github.com/JimmyRobz
        .site
            .site-icon: img#npm-icon(src="svg/npm.svg")
            .site-detail
                .site-name npmjs
                .site-url npmjs.com/~jimrobs

