doctype html
html
    head
        meta(charset='UTF-8')
        title CV 2015
        // Robot font
        link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
        link(href='style.css', rel='stylesheet', type='text/css')
    body#jimmy
        .separator.big.blue
        include header
        include education
        include work
        include home
        include skills
        include language
        include interest
