.section#language
    .section-title Centres d'intérêts
    .separator
    .lefted-block
        .lefted-block-title Voyages
        .lefted-block-block
            .subsection-date 2011 - Canada
            .subsection-description Stage à l'Université de Sherbrooke, Québec - 4 mois
            .subsection-date 2006 - Australie
            .subsection-description Échange linguistique à Perth - 1 mois
            .subsection-date Séjours touristiques
            .subsection-description États-Unis, Espagne, Allemagne, Italie, île Maurice
    .lefted-block
        .lefted-block-title Sports
        .lefted-block-block
            .subsection-description Rollers - Snowboard - Tennis de table - Handball
