.section#language
    .section-title Langues
    .separator
    .lefted-block
        .lefted-block-title Anglais
        .lefted-block-block
            .subsection-title Niveau avancé
            .subsection-date 2015
            .subsection-description Enseignement « Plateformes mobiles et Android » en anglais / cours + projet
            .subsection-date 2009
            .subsection-description First Certificate in English (Cambridge) - Grade B - Score 78/100
            .subsection-date 2009
            .subsection-description TOEIC (Test of English for International Communication) - Score 910/990
    .lefted-block
        .lefted-block-title Espagnol
        .lefted-block-block
            .subsection-title Niveau intermédiaire
            .subsection-description 7 années académiques
