.section#work
    .section-title Expériences professionnelles
    .separator
    // OAB
    .subsection
        .subsection-date 2012 - Aujourd'hui / Toulouse
        .subsection-title Orange Applications for Business - Orange Business Services
        .subsection-description Ingénieur d'étude - Lead Developer Android - Référant Android
        .subsection-missions
            .subsection-missions-title Missions
            .subsection
                .subsection-date 2017 / Scopelec
                .subsection-title Développeur Xamarin
                .subsection-description Développement de l'application Android à destination des techniciens Scopelec
            .subsection
                .subsection-date 2016 / SARA
                .subsection-title Concepteur / Développeur Android / Accessibilité / Firebase
                .subsection-description Développement d'une application Android accessible/temps réel de localisation de bouées de régates
            .subsection
                .subsection-date 2015 - 2016 / Stade Toulousain
                .subsection-title Concepteur / Lead Developer Android
                .subsection-description Développement de la nouvelle application Android officielle du Stade Toulousain
            .subsection
                .subsection-date 2015 / Orange
                .subsection-title Concepteur / Développeur Android
                .subsection-description Développement d'une application Android de consultation et configuration des Airbox/Flybox
            //.subsection
            //    .subsection-date 2015 / Orange
            //    .subsection-title Développeur Android
            //    .subsection-description Industrialisation d'une application tablette Android de partage de bureau virtuel en temps réel
            .subsection
                .subsection-date 2014 - 2015 / Ma MSA & moi v2
                .subsection-title Concepteur / Lead Developer Mobile & Web
                .subsection-description Développement de la nouvelle application mobile iOS / Android de la MSA
            .subsection
                .subsection-date 2013 - 2014 / AGORA MSA
                .subsection-title Concepteur / Lead Developer Web RIA (Rich Internet Application)
                .subsection-description Développement d'applications Web pour les internautes et extranautes de la MSA
            //.subsection
            //    .subsection-date 2013 / ALD Mobile (Société Générale)
            //    .subsection-title Développeur mobile
            //    .subsection-description Développement d'une application mobile iOS / Android à destination des conducteurs ALD
            .subsection
                .subsection-date 2012 - 2013 / Ma MSA & moi
                .subsection-title Développeur mobile
                .subsection-description Développement d'une application mobile iOS / Android pour les adhérents de la MSA
    // ESEO
    .subsection
        .subsection-date 2012 - 2015 / Angers
        .subsection-title ESEO Angers
        .subsection-description Enseignant « Plateformes mobiles et Android » / cours + mini-projet
    // Infotel
    .subsection
        .subsection-date 2012 / Toulouse
        .subsection-title Infotel Conseil
        .subsection-description Stagiaire : Étude et réalisation d'applications mobiles multiplateformes
