.section
    .section-title Formation
    .separator
    .subsection
        .subsection-date 2010-2013 / Tours
        .subsection-title Diplôme d'État infirmier
        .subsection-description CHRU de Tours
    //.subsection
    //    .subsection-date 2007 / La Réunion
    //    .subsection-title Baccalauréat Scientifique - Mention Bien
    //    .subsection-description Lycée Paul Moreau - Bras-Panon