#header
    #picture
    #info
        #name Marie Ophélie Laup
        #job-description Infirmière diplômée d'État
        #table
            .table-row
                .table-cell
                    .icon: img(src='svg/location.svg')
                    .detail
                        .title Résidence
                        .value Toulouse
                .table-cell
                    .icon: img(src='svg/event.svg')
                    .detail
                        .title Date de naissance
                        .value 19 déc. 1989 - 26 ans
                .table-cell
                    .icon: img(src='svg/flag.svg')
                    .detail
                        .title Nationalité
                        .value Française
            .table-row
                .table-cell
                    .icon: img(src='svg/email.svg')
                    .detail
                        .title Adresse email
                        .value laup.ophelie@gmail.com
                .table-cell
                    .icon: img(src='svg/phone.svg')
                    .detail
                        .title Numéro de téléphone
                        .value 06 45 04 23 13
                .table-cell
                    .icon: img(src='svg/work.svg')
                    .detail
                        .title Expérience
                        .value 3 ans