.section#language
    .section-title Centres d'intérêts
    .separator
    .lefted-block
        .lefted-block-title Voyages
        .lefted-block-block
            .subsection-date 2006 - Australie
            .subsection-description Échange linguistique à Perth - 1 mois
            .subsection-date Séjours touristiques
            .subsection-description Canada, États-Unis, Espagne, Italie, île Maurice, Afrique du Sud, Thaïlande, Mexique
    .lefted-block
        .lefted-block-title Sports
        .lefted-block-block
            .subsection-description Natation - Course à pied - Randonnées
