.section#skills
    .section-title Compétences et qualités professionnelles
    .separator
    .subsection
        .subsection-description Bonne santé physique, disponible, autonome et discrète
        .subsection-description Sens des responsabilités et de l'organisation
        .subsection-description Accompagnement des patients et de leurs familles
        .subsection-description Faculté d'adaptation au changement
        .subsection-description Aptitude pour les relations humaines et le travail d'équipe
        .subsection-description Maîtrise de l'anglais
