.section#work
    .section-title Expériences professionnelles
    .separator
    // Urgences
    .subsection
        .subsection-date 2014 - Aujourd'hui / Cornebarrieu
        .subsection-title Clinique des Cèdres
        .subsection-description Infirmière au service des Urgences
        .subsection-missions
            .subsection
                .subsection-description Infirmière spécialisée
                .subsection-description Infirmière d'accueil et d'orientation
                .subsection-description Référente diabète
    // EMIS
    .subsection
        .subsection-date 2013 - 2014 / Cornebarrieu
        .subsection-title Clinique des Cèdres
        .subsection-description Infirmière sur l'équipe mobile inter-services (EMIS)
        .subsection-missions
            .subsection
                //.subsection-title Infirmière sur le pôle Médecine
                .subsection-description Pôle Médecine : Pneumologie, gastro-entérologie, cardiologie et neurologie
            .subsection
                //.subsection-title Pôle Chirurgie
                .subsection-description Pôle Chirurgie : Orthopédie, neurochirurgie et digestif
            .subsection
                //.subsection-title Pôle Technique
                .subsection-description Pôle Technique : Soins continus, unité de soins intensifs cardiologiques et urgences
    // AIDE SOIGNANTE
    .subsection
        .subsection-date 2011 - 2013 / Chambray-lès-Tours
        .subsection-title Pôle santé Léonard de Vinci
        .subsection-description Aide-soignante aux services des soins palliatifs et de chirurgie orthopédique